<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing w/ Express</title>
</head>
<body>
    <%- include('nav') %>
    <p> About Endpoint</p>

</body>
</html>