<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testing w/ Express</title>
  </head>
  <body>
    <p>Home Route</p>

    <!-- w/ express (or ejs?) we can do js/pass variables with the -->
    <!-- = means print out in html -->
    <!-- no = means don't have it on the page -->
    <%= varName %>
    <% for (let i=0; i<5; i++){ %>
    <p><%= i %></p>
    <% } %>

  </body>
</html>
